<nav class="fixed py-3 z-50 w-16 h-screen bg-slate-800 rounded-r-xl flex flex-col justify-between -translate-x-16 lg:translate-x-0 transition-all duration-300 ease-in-out top-0">

    <div class="item-2">
      <div class="item-1 px-2 relative flex justify-end items-center right-0 top-0 left-0">
          <button class="btn-menu p-3 lg:hover:bg-white rounded-xl transition-all duration-300">
            <span class="">
              <svg class="icon lg:fill-white transition-all duration-300 ease-out" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M106.999 837.479V731.478h746.002v106.001H106.999Zm0-208.478V522.999h746.002v106.002H106.999Zm0-208.479V314.521h746.002v106.001H106.999Z"/></svg>
            </span>
          </button>
      </div>
      <ul class="mt-0">
        <li class="relative px-2">
            <a href="/" id="home" class="flex justify-start items-center p-3 rounded-xl space-x-3 hover:bg-white transition duration-300 ease-out">
                <span class="icon"><svg class="fill-white transition duration-300 ease-out" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M246.783 849.217h100.216V602.999h266.002v246.218h100.216V499.391L480 324.479 246.783 499.391v349.826ZM140.782 955.218V446.391L480 191.694l339.218 254.508v509.016h-303.74V700.522h-70.956v254.696h-303.74ZM480 587.13Z"/></svg></span>
                <span class="text text-white whitespace-nowrap transition duration-300 ease-out opacity-0 pointer-events-none">Inicio</span>
            </a>
            <span class="tooltip absolute left-16 top-0 rounded-lg bg-white text-center w-20 shadow-md shadow-slate-500 line leading-8  font-medium opacity-0 transition duration-300  pointer-events-none">Inicio</span>
        </li>
        <li class="relative px-2">
            <a href="/catalogo/peliculas" id="peliculas" class="flex justify-start items-center space-x-3 py-3 px-3 rounded-xl hover:bg-white transition duration-300 ease-out">
                <span class="icon"><svg class="fill-white transition duration-300 ease-out" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="m380 536-38 82-82 38 82 38 38 82 38-82 82-38-82-38-38-82Zm240 0-26 54-54 26 54 26 26 54 26-54 54-26-54-26-26-54ZM166.783 236.782l80 160h120l-80-160h80l80 160h120l-80-160h80l80 160h120l-80-160h106.434q44.305 0 75.153 30.848 30.848 30.848 30.848 75.153v466.434q0 44.305-30.848 75.153-30.848 30.848-75.153 30.848H166.783q-44.305 0-75.153-30.283-30.848-30.283-30.848-74.022v-468.13q0-44.305 30.848-75.153 30.848-30.848 75.153-30.848Zm0 266.001v306.434h626.434V502.783H166.783Zm0 0v306.434-306.434Z"/></svg></span>
                <span class="text text-white whitespace-nowrap transition duration-300 ease-out opacity-0 pointer-events-none">Peliculas</span>
            </a>
            <span class="tooltip absolute left-16 top-0 rounded-lg bg-white text-center w-20 shadow-md shadow-slate-500 line leading-8  font-medium opacity-0 transition duration-300 pointer-events-none">Peliculas</span>
        </li>
        <li class="relative px-2">
            <a href="/catalogo/series" id="series" class="flex justify-start items-center space-x-3 px-3 py-3 rounded-xl hover:bg-white transition duration-300 ease-out">
                <span class="icon"><svg class="fill-white transition duration-300 ease-out" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="m371.521 719.957 291.87-187.914-291.87-187.913v375.827Zm-61.695 235.827v-88.479H166.783q-44.305 0-75.153-30.848-30.848-30.848-30.848-75.153V302.783q0-44.305 30.848-75.153 30.848-30.848 75.153-30.848h626.434q44.305 0 75.153 30.848 30.848 30.848 30.848 75.153v458.521q0 44.305-30.848 75.153-30.848 30.848-75.153 30.848H650.174v88.479H309.826Zm-143.043-194.48h626.434V302.783H166.783v458.521Zm0 0V302.783v458.521Z"/></svg></span>
                <span class="text text-white whitespace-nowrap transition duration-300 ease-out opacity-0 pointer-events-none">Series</span>
            </a>
            <span class="tooltip absolute left-16 top-0 rounded-lg bg-white text-center w-20 shadow-md shadow-slate-500 line leading-8  font-medium opacity-0 transition duration-300 pointer-events-none">Series</span>
        </li>
        <li class="relative px-2">
            <a href="/catalogo/novelas" id="novelas" class="flex justify-start items-center py-3 px-3 rounded-xl space-x-3 hover:bg-white transition duration-300 ease-out">
                <span class="icon self-center"><svg class="fill-white transition duration-300 ease-out" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M279.96 658.826q19.866 0 33.345-13.438 13.478-13.439 13.478-33.305t-13.439-33.344q-13.438-13.479-33.304-13.479t-33.345 13.439q-13.478 13.439-13.478 33.305t13.439 33.344q13.438 13.478 33.304 13.478Zm0-160q19.866 0 33.345-13.438 13.478-13.439 13.478-33.305t-13.439-33.344q-13.438-13.479-33.304-13.479t-33.345 13.439q-13.478 13.439-13.478 33.305t13.439 33.344q13.438 13.478 33.304 13.478Zm86.823 157.739H720v-89.044H366.783v89.044Zm0-160H720v-89.044H366.783v89.044Zm-56.957 459.219v-88.479H166.783q-44.305 0-75.153-30.848-30.848-30.848-30.848-75.153V302.783q0-44.305 30.848-75.153 30.848-30.848 75.153-30.848h626.434q44.305 0 75.153 30.848 30.848 30.848 30.848 75.153v458.521q0 44.305-30.848 75.153-30.848 30.848-75.153 30.848H650.174v88.479H309.826Zm-143.043-194.48h626.434V302.783H166.783v458.521Zm0 0V302.783v458.521Z"/></svg></span>
                <span class="text text-white whitespace-nowrap transition duration-300 ease-out opacity-0 pointer-events-none">Novelas</span>
            </a>
            <span class="tooltip absolute left-16 top-0 rounded-lg bg-white text-center w-20 shadow-md shadow-slate-500 line leading-8  font-medium opacity-0 transition duration-300 pointer-events-none">Novelas</span>
        </li>
        <li class="relative px-2">
            <a href="/formularios" id="formularios" class="flex justify-start items-center py-3 px-3 rounded-xl space-x-3 hover:bg-white transition duration-300 ease-out">
                <span class="icon"><svg class="fill-white transition duration-300 ease-out" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M480.1 527.521q-153.491 0-261.035-49.703-107.544-49.704-107.544-119.501 0-69.796 107.444-119.057 107.444-49.261 260.935-49.261 153.491 0 261.035 49.261 107.544 49.261 107.544 119.057 0 69.797-107.444 119.501-107.444 49.703-260.935 49.703Zm0 216.958q-153.491 0-261.035-49.491Q111.521 645.497 111.521 576V458.477q0 41.739 36.478 73.37 36.478 31.63 91.5 52.891t119.63 32.022Q423.738 627.521 480 627.521t120.87-10.761q64.609-10.761 119.631-32.022 55.022-21.261 91.5-52.891 36.478-31.631 36.478-73.37V576q0 69.497-107.444 118.988T480.1 744.479Zm0 217.522q-153.491 0-261.035-49.49-107.544-49.491-107.544-118.988V676q0 41.739 36.478 73.087 36.478 31.348 91.5 52.609 55.022 21.261 119.63 32.022Q423.738 844.479 480 844.479t120.87-10.761q64.609-10.761 119.631-31.74 55.022-20.978 91.5-52.608 36.478-31.631 36.478-73.37v117.523q0 69.497-107.444 118.988-107.444 49.49-260.935 49.49Z"/></svg></span>
                <span class="text text-white whitespace-nowrap transition duration-300 ease-out opacity-0 pointer-events-none">Insertar</span>
            </a>
            <span class="tooltip absolute left-16 top-0 rounded-lg bg-white text-center w-20 shadow-md shadow-slate-500 line leading-8  font-medium opacity-0 transition duration-300  pointer-events-none">Insertar</span>
        </li>
      </ul>
    </div>

    <div class="login relative px-2">
      <a href="http://10.31.103.6:3000/api/login" id="loginNav" class="flex justify-start items-center py-3 px-3 rounded-xl space-x-3 hover:bg-white transition duration-300 ease-out">
        <span class="icon"><svg class="fill-white transition duration-300 ease-out" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M475.478 955.218V849.217H761.13V302.783H475.478V196.782H761.13q44.305 0 75.154 30.848 30.848 30.848 30.848 75.153v546.434q0 44.305-30.848 75.153-30.849 30.848-75.154 30.848H475.478Zm-92.435-152.086-73.654-75.523 98.609-98.608H92.868V522.999h315.13l-98.609-98.608 73.654-75.523L610.174 576 383.043 803.132Z"/></svg></span>
        <span class="text text-white whitespace-nowrap transition duration-300 ease-out opacity-0 pointer-events-none">Insertar</span>
      </a>
      <span class="tooltip absolute left-16 top-0 rounded-lg bg-white text-center w-20 shadow-md shadow-slate-500 line leading-8 font-medium opacity-0 transition duration-300  pointer-events-none">Insertar</span>
    </div>
    
</nav>

<div class="cortina fixed z-40 top-0 left-0 bottom-0 right-0 m-auto bg-black opacity-50 hidden min-h-screen"></div>


