
<!DOCTYPE html>
<html lang="es">

    <head>
        <%- include('partials/head') %> 
    </head>

    <body>

        <!--nav--> 
        <%- include('partials/silderbar'); %>
        <!--nav--> 

        <main>
            
        </main>

        <script src="/js/nav.js"></script>
    </body>
</html>