<!DOCTYPE html>
<html lang="en">

    <%- include("partials/inicio/head") %> 

<body>
    <%- include( 'partials/silderbar' ) %> 
    <main>
        <div id="nav" class="flex">
            <button>
                <span>
                    <svg class="
                                icon z-30
                                fill-black
                                lg:hidden"
                                xmlns="http://www.w3.org/2000/svg" width="30 " height="30 " viewBox="0 0 24 24"><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg>
                </span>
            </button>
        </div>
    </main>
    <script src="js/nav.js"></script>
</body>
</html>