<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/inicio/head") %> 
    <link rel="stylesheet" href="/css/tailwindLogin.css">
</head>
<body>
  <%- include('partials/silderbar'); %>
  <main class="
              relative
              z-30
              h-screen        
              flex
              flex-col
              items-center
              lg:justify-center
              w-full
              lg:left-16">

    <div id="nav" class="lg:hidden px-3 pt-3 self-start">
      <button>
        <span>
          <svg class="icon fill-black transition-all duration-300 ease-out" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M106.999 837.479V731.478h746.002v106.001H106.999Zm0-208.478V522.999h746.002v106.002H106.999Zm0-208.479V314.521h746.002v106.001H106.999Z"/></svg>
        </span>
      </button>
    </div>



    <div id="login" class="bg-white w-full p-5 sm:w-96 h-max lg:shadow-md lg:shadow-slate-700 rounded-2xl lg:border-2 lg:border-solid lg:border-slate-600">
      <div class="flex flex-col space-y-10 justify-center items-center">
        
        <div class="">
          <span><svg class="" xmlns="http://www.w3.org/2000/svg" height="60" viewBox="0 96 960 960" width="60"><path d="M228 790q60-41 121.545-63.5Q411.091 704 480.48 704q69.39 0 131.874 23.268Q674.838 750.536 734 790q41-54 58.5-104.457Q810 635.086 810 576q0-140.247-94.826-235.123Q620.349 246 480.174 246 340 246 245 340.877 150 435.753 150 576q0 60 17.527 109.717T228 790Zm251.854-180q-59.011 0-99.433-40.646-40.421-40.645-40.421-99Q340 412 380.567 371t99.579-41q59.011 0 99.433 41.146Q620 412.291 620 470.646 620 529 579.433 569.5T479.854 610Zm.031 387Q393 997 317.077 964.446q-75.924-32.555-134.196-91.077-58.272-58.521-91.077-134.228Q59 663.434 59 575.151 59 491 92.21 414.087q33.211-76.914 90.965-135.237 57.754-58.324 133.545-91.587Q392.511 154 480.849 154q84.151 0 161.064 33.711 76.914 33.71 135 91.5Q835 337 868.5 414.035q33.5 77.034 33.5 162.08 0 86.885-33.263 162.92-33.263 76.036-91.587 133.79-58.323 57.754-135.271 90.964Q564.931 997 479.885 997Zm.115-91q54 0 100.5-13.5T679 840q-51.586-35.967-99.293-51.983Q532 772 480 772q-52 0-99 16t-98 52.303q51 38.304 97 52Q426 906 480 906Zm0-365q30.867 0 50.933-19.5Q551 502 551 470.5T530.933 419Q510.867 399 480 399t-50.933 20Q409 439 409 470.5t20.067 51Q449.133 541 480 541Zm0-71Zm1 369Z"/></svg></span>
        </div>
    
        <div class="flex justify-center items-center flex-wrap">
          <button id="sesion" type="button" class="
                                      font-medium
                                      py-3
                                      px-8
                                      border-b
                                      border-solid
                                      border-gray-300
                                      relative
                                      before:content-[''] 
                                      before:block
                                      before:w-full
                                      before:h-1
                                      before:bg-green-300
                                      before:absolute
                                      before:right-0
                                      before:bottom-0
                                      before:transition-all
                                      before:duration-300 ">Iniciar Sesion</button>
          <button id="registro" type="button" class="
                                      font-medium
                                      py-3
                                      px-8
                                      border-b
                                      border-solid
                                      border-gray-300
                                      relative
                                      before:content-[''] 
                                      before:block
                                      before:w-0
                                      before:h-1
                                      before:bg-green-300
                                      before:absolute
                                      before:left-0
                                      before:bottom-0
                                      before:transition-all
                                      before:duration-300
          
          
          ">Registrarse</button>
        </div>
    
        <form action="http://10.31.103.6:3000/api/login" method="post" id="formLogin" class="w-full space-y-7">
          <div class="flex flex-col w-full relative">
            <h3 class="font-medium text-gray-500">Nombre</h3>
            <input type="text" name="name" id="name" class="
                                                      p-2
                                                      bg-slate-200 
                                                      rounded-lg
                                                      outline-2
      
                                                      ">
            <button id="visibility" type="button" class="
                        off
                        absolute
                        right-0
                        "><svg class="" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 96 960 960" width="20"><path d="M766.461 936.767 642.616 812.152q-33.769 12.385-75.192 22.116Q526 843.999 480 843.999q-132.999 0-246.114-71.538Q120.771 700.922 69.54 576q18.154-52 61.231-101.885 43.077-49.884 89.231-85.576l-100.769-100 37.153-37.153 647.228 648.228-37.153 37.153ZM480 727.076q15.539 0 33.193-4.154 17.654-4.154 30.885-9.308L342.386 511.922q-4.154 14-8.808 31.462T328.924 576q0 63.076 44 107.076 44 44 107.076 44Zm276.153 22.308L624.691 617.922q2.693-8.769 4.539-19.884 1.846-11.115 1.846-22.038 0-63.076-44-107.076-44-44-107.076-44-10.923 0-21.153 1.539-10.231 1.538-20.384 4.615L337.386 330.386q34.923-13.077 70.961-17.731 36.038-4.654 71.653-4.654 132.615 0 246.114 71.538Q839.614 451.078 890.46 576q-21.231 51.615-55.423 94.076-34.192 42.461-78.884 79.308ZM575.385 569 487 480q18.461-2 34.461 3.923t30 19.538q12.385 11.616 18.962 29.308T575.385 569Z"/></svg>
            </button>
          </div>
      
          <div class="flex flex-col w-full">
            <h3 class="font-medium text-gray-500">Contraseña</h3>
            <input type="password" name="password" id="pass" class="
                                                              p-2
                                                            bg-slate-200 
                                                            rounded-lg
                                                            outline-2
                                                            pass
                                                              ">
          </div>

          <div id="confPass" class="hidden">
            <h3 class="font-medium text-gray-500">Confirmar Contraseña</h3>
            <input type="password" name="confPassword" id="inputConfPass" class="
                                                            w-full
                                                            p-2
                                                            bg-slate-200 
                                                            rounded-lg
                                                            outline-2
                                                            pass
                                                              ">
          </div>
          
        </form>
    
        <button form="formLogin" type="submit" class="bg-green-300 p-3 w-3/4 rounded-lg hover:bg-green-600 hover:text-black font-bold transition duration-300">Iniciar Sesion</button>
      </div>
    </div>
  </main>
  
  <script src="/js/nav.js"></script>
  <script src="/js/funcionesLogin/login.js"></script>
</body>
</html>