nav div ul li a:hover .icon svg
{
    fill: black;
}

nav div ul li a:hover span:last-child
{
    color: black;
}

nav div ul li a.active .icon svg
{
    fill: black;
}

nav div ul li a.active span:last-child
{
    color: black;
}


nav div ul a:hover + .tooltip
{ 
    opacity: 1;  
    transform: translateY(1.5rem);
}