@tailwind base;
@tailwind components;

.szh-menu{
    @apply bg-white;
}

body {
    @apply font-sans
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
}

#card:hover > #poster img{
    scale: 102%;
}

/* #subRoot{
    background-color: rgb(26, 26, 26);
}

#nav-fix{
    background-color: rgb(51, 51, 51);
} */

@tailwind utilities;
