
.formulario .grid-item .form-serie
{
    width: 50%;
    align-self: center;
}

.formulario .grid-item .form-serie .container-temp label
{
    border-bottom: 2px solid transparent;
    border-left: 2px solid #11101d;
}


.formulario .grid-item .form-serie  label input
{
    text-align: center;
    width: 100%;
}

.formulario .grid-item .form-serie .temporadas
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.formulario .grid-item .form-serie .temporadas label
{
    display: flex;
    position: relative;
    border-right: 2px solid #11101d;
}

.formulario .grid-item .form-serie .temporadas label h2
{
    height: 20px;
    text-align: center;
}

.formulario .grid-item .form-serie .temporadas label span
{
    font-size: 17px;
    position: absolute;
    margin-left: 41%;
}

.formulario .grid-item .form-serie .temporadas label input
{
    font-size: 17px;
    margin-left: 5%;
    height: 20px;
    text-align: center;
}

.formulario .grid-item .form-serie .total-caps
{
    margin-top: 25px;
}

.formulario .grid-item .form-serie .total-caps label
{
    font-size: 18px;
    color: #11101d;
    text-align: center;
}

.formulario .grid-item .form-serie .total-caps input
{
    color: #0fff23;
}

.formulario .grid-item .form-serie .container-total-caps
{
    width: 100%;
    margin-bottom: 20px;
}

