.formulario .grid-item .card-input
{
    width: 90%;
}

.formulario .grid-item .imagen
{
    width: 100%;
    height: 180px;
    text-align: center;
}

.formulario .grid-item .imagen img
{
    height: 180px;
    object-fit: contain;
    border: 2px solid gray;
    box-shadow: 2px 2px 15px 0 gray;
}

.formulario .grid-item .card-input label
{
    display: block;
    border: none;
    padding: 8px 10px;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid transparent;
    border-left: 2px solid #11101d;
    width: 100%;
    min-width: 150px;
    transition: all 0.1s;
    
}

.formulario .grid-item .card-input label span
{
    color: #11101d;
    padding: 0;
    position: absolute;
    top: 8px;
    left: 10px;
    transition: all 0.3s ease;
    z-index: 0;
    font-size:20px;
}


.formulario .grid-item .card-input label input
{
    border: none;
    outline: none;
    background-color: transparent;
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
    max-height: 215px;
    font-size: 17px;
}

.formulario .grid-item .card-input label textarea
{
    height: 150px;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    z-index: 1;
    max-height: 215px;
    font-size: 15px;
    min-height: 120px;
    border: 2px solid #11101d;
    border-radius: 15px;
    transition: all 0.1s;
    padding: 6px 12px;
    color: #11101d;
    font-size: 18px;
}

.formulario .grid-item .card-input.text-area label
{
    border-left: none;
}

.formulario .grid-item .card-input label textarea:hover
{
    border: 2px solid #2e2f52;
}

.formulario .grid-item .text-area label
{
    border-bottom: none;
}

.formulario .grid-item .text-area label span
{
    top: 10px;
    left: 12px;
}

textarea
{
    resize: vertical;
}


/* Focus */
.formulario .grid-item .card-input label.focus, textarea.focus
{
    border: 2px solid rgb(4, 250, 4) !important;
}


.formulario .grid-item .card-input label span.focus
{
    color: #33355d;
}

/* Top */
.formulario .grid-item .card-input label span.top
{
    left: 2px;
    top: -10px;
    font-size: 12px;
    background-color: white;
    padding: 0 5px;
}

.formulario .grid-item .card-input
{
    margin-bottom: 30px;
}

/* campo subtitulos */
.formulario .grid-item .card-input-subtitulos
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 20px;
    height: 74px;
}

.formulario .grid-item .card-input-subtitulos input
{
    width: 14px;
    height: 14px;
    border: 2px solid #11101d;
}

.formulario .grid-item .card-input-subtitulos label
{
    margin-right: 10px;
    font-size: 16px;
}

.formulario .grid-item .card-input-subtitulos h3
{
    margin-bottom: 5px;
    border-bottom: 1px solid #11101d;

}

.formulario .grid-item:nth-child(3) div
{
    display: flex;
}

.formulario .grid-item:nth-child(3) div label
{
    display: flex;
    align-items: center;
    border: 1px solid #11101d;
    border-radius: 20px;
    padding: 10px;
    transition: all 0.2s;
}

.formulario .grid-item:nth-child(6) .card-input label
{

}

.formulario .grid-item:nth-child(7) .card-input label
{
    border-left: transparent;
    border-bottom: 2px solid #11101d;
}

.formulario .grid-item:nth-child(3) div label svg
{
    margin-right: 5px;
}

.formulario .grid-item:nth-child(3) div label:hover
{
    cursor: pointer;
    background-color: #aaa;
}

/* Botones */
.formulario .grid-item:last-child
{
    flex-direction: row;
}

.formulario .grid-item:last-child input:first-child
{
    margin-right: 60%;
    width: 180px;
    background-color: #0fff23;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #11101d;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s;
}

.formulario .grid-item:last-child input:first-child:hover
{
    background-color: #eee;
    color: #11101d;
}

.formulario .grid-item:last-child input:last-child
{
    width: 120px;
    height: 45px;
    border: 1px solid #11101d;
    cursor: pointer;
    font-size: 19px;
    transition: all 0.2s;
    color: #000;
}

.formulario .grid-item:last-child input:last-child:hover
{
    background-color: rgb(255, 1, 1);
    color: #fff;
}

.formulario .grid-item .card-input.date
{
    height: 74px;
    margin-bottom: 20px;
    padding: 5px 0;
}

.formulario .grid-item .card-input.date label
{
    display: flex;
    border-bottom: 2px solid transparent;
    font-size: 20px;
    border-left: 2px solid #11101d;
}

.formulario .grid-item .card-input.date input
{
    width: 50%;
    margin-left: 6px;
    border: 2px solid #11101d;
    border-radius: 10px;
}

/* Navegador */
.formulario .grid-item.nav 
{
    display: flex;
    justify-content: flex-end;
}

.formulario .grid-item.nav header
{
    align-self: flex-start;
    margin-bottom: 2px;
    padding: 3px;
}

.formulario .grid-item.nav ul
{
    display: flex;
    position: absolute;
    bottom: 2px;

}

.formulario .grid-item.nav ul li
{
    width: 100px;
    list-style: none;
    margin: 2px;
}

.formulario .grid-item.nav ul li a
{
    height: 100%;
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
    font-size: 18px;
}

.formulario .grid-item.nav ul li a:hover
{
    border-bottom: 2px solid #11101d;
}

.formulario .grid-item.nav ul li a.active
{
    border-bottom: 2px solid #11101d;
}

#content-file
{
    position: absolute;
    right: -14px;
    width: 40px;
    height: 40px;
    display: flex;
    bottom: 0;
    z-index: 20;
}

#content-file label
{
    border: 2px solid #11101d;
    padding: 0px;
    min-width: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
}

#content-file label:hover
{
    box-shadow: none;
    background-color: #aaa;
}


#file
{
    position: relative;
}

.formulario .grid-item #pais
{
    border: 2px solid #11101d;
    font-size: 19px;
    width: 60%;
    border-radius: 10px;
    margin-top: 10px;
    height: 50px;
    margin-bottom: 30px;
    cursor: pointer;
}

.formulario .grid-item #pais:hover
{
    outline: 2px solid #0fff23;
}

.formulario .grid-item #pais:focus
{
    outline: 2px solid #0fff23;
}

.formulario .grid-item .form-serie
{
    width: 50%;
    align-self: center;
}

.formulario .grid-item .form-serie .container-temp label
{
    border-bottom: 2px solid transparent;
    border-left: 2px solid #11101d;
}

.formulario .grid-item .form-serie .container-temp label:hover
{
    border-left: 2px solid #13165f;
}
.formulario .grid-item .form-serie  label input
{
    text-align: center;
    width: 100%;
}

.formulario .grid-item .form-serie .temporadas
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.formulario .grid-item .form-serie .temporadas label
{
    display: flex;
    position: relative;
    border-right: 2px solid #11101d;
}

.formulario .grid-item .form-serie .temporadas label h2
{
    height: 20px;
    text-align: center;
}

.formulario .grid-item .form-serie .temporadas label span
{
    font-size: 17px;
    position: absolute;
    margin-left: 41%;
}

.formulario .grid-item .form-serie .temporadas label input
{
    font-size: 17px;
    margin-left: 26%;
    height: 20px;
    text-align: center;
}

.formulario .grid-item .form-serie .total-caps
{
    margin-top: 25px;
}

.formulario .grid-item .form-serie .container-total-caps
{
    width: 100%;
    margin-bottom: 20px;
}

