.formulario .grid-item .card-input
{
    width: 90%;
    margin-bottom: 20px;
}

.formulario .grid-item .imagen
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.formulario .grid-item .imagen img
{
    height: 180px;
    object-fit: contain;
    border: 5px solid gray;
    border: 2px solid goldenrod;
    box-shadow: 2px 2px 10px 0 goldenrod 
                2px 2px 10px 0 goldenrod;
}

.formulario .grid-item .card-input label
{
    display: block;
    border: none;
    padding: 8px 10px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-left: 2px solid #11101d;
    width: 100%;
    min-width: 150px;
    transition: all 0.2s;
    
}

.formulario .grid-item .card-input label:hover
{
    border-left: 2px solid #00ff15;
}

.formulario .grid-item .card-input label span
{
    color: #11101d;
    padding: 0;
    position: absolute;
    top: 8px;
    left: 10px;
    transition: all 0.3s ease;
    z-index: 0;
    font-size:20px;
}


.formulario .grid-item .card-input label input
{
    border: none;
    outline: none;
    background-color: transparent;
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
    max-height: 215px;
    font-size: 17px;
}

.formulario .grid-item .card-input label textarea
{
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    z-index: 1;
    max-height: 215px;
    font-size: 15px;
    min-height: 120px;
    border-radius: 15px;
    transition: all 0.1s;
    color: #11101d;
    font-size: 18px;
}

.formulario .grid-item .card-input.text-area label
{
    border-left: none;
    border: 2px solid #11101d;
    border-radius: 20px;
    
}

.formulario .grid-item .card-input.text-area label:hover
{
    border: 2px solid #00ff15;
}

.formulario .grid-item .text-area label
{
    border-bottom: none;
}

.formulario .grid-item .text-area label span
{
    top: 10px;
    left: 12px;
}

textarea
{
    resize: vertical;
}


/* Focus */
.formulario .grid-item .card-input label.focus, textarea.focus
{
    border: 2px solid rgb(80, 247, 80) !important;
}


.formulario .grid-item .card-input label span.focus
{
    color: #33355d;
}

/* Top */
.formulario .grid-item .card-input label span.top
{
    left: 2px;
    top: -10px;
    font-size: 12px;
    background-color: white;
    padding: 0 5px;
}

/* campo subtitulos */
.formulario .grid-item .card-input-subtitulos
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 20px;
    width: 90%;
}

.formulario .grid-item .card-input-subtitulos.container
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.formulario .grid-item .card-input-subtitulos.container div
{
    display: flex;
}

.formulario .grid-item .card-input-subtitulos input
{
    margin-right: 3px;
    cursor: pointer;
}

.formulario .grid-item .card-input-subtitulos label
{
    margin-right: 10px;
    font-size: 17px;
    cursor: pointer;
}

.formulario .grid-item .card-input-subtitulos h2
{
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 5px;
    border-bottom: 1px solid #11101d;
    text-align: center;

}

.formulario .grid-item:nth-child(3) div
{
    display: flex;
}

.formulario .grid-item:nth-child(3) div label
{
    display: flex;
    align-items: center;
    border: 1px solid #11101d;
    border-radius: 20px;
    padding: 10px 15px;
    transition: all 0.2s;
}

.formulario .grid-item:nth-child(3) div label span
{
    display: flex;
    justify-content: center;
    padding: 5px 0; 
    margin-right: 5px;
}

.formulario .grid-item:nth-child(3) div label:hover
{
    cursor: pointer;
    border: 1px solid #00ff15;
    color: #00ff15;
}

.formulario .grid-item:nth-child(3) div label span svg
{
    transition: fill 0.2s;
}

.formulario .grid-item:nth-child(3) div label:hover svg
{
    fill: #00ff15 !important;
}


.formulario .grid-item:nth-child(7) .card-input label
{
    border-left: transparent;
    border-bottom: 2px solid #11101d;
    transition: border 0.2s;
}

.formulario .grid-item:nth-child(7) .card-input.hover label.hover:hover
{
    border-bottom: 2px solid #00ff15;
}

/* Botones */
.formulario .grid-item:last-child
{
    flex-direction: row;
}

.formulario .grid-item:last-child input:first-child
{
    margin-right: 60%;
    width: 180px;
    background-color: #00ff15;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #11101d;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s;
}

.formulario .grid-item:last-child input:first-child:hover
{
    background-color: #fff;
    color: #00ff15;
    border: 1px solid #00ff15;
}

.formulario .grid-item:last-child input:last-child
{
    width: 120px;
    height: 45px;
    border: 1px solid #11101d;
    cursor: pointer;
    font-size: 19px;
    transition: all 0.2s;
    color: #fff;
    background-color: rgb(255, 1, 1);
}

.formulario .grid-item:last-child input:last-child:hover
{
    background-color: #fff;
    color: rgb(255, 1, 1);
    border: 1px solid rgb(255, 1, 1);
}

.formulario .grid-item .card-input.date
{
    height: 74px;
    margin-bottom: 20px;
    padding: 5px 0;
}

.formulario .grid-item .card-input.date label
{
    display: flex;
    border-bottom: 2px solid transparent;
    font-size: 20px;
    border-left: 2px solid #11101d;
    align-items: center;
}

.formulario .grid-item .card-input.date label:hover
{
    border-left: 2px solid #00ff15;
}

.formulario .grid-item .card-input.date select
{
    appearance: none;
    width: 50px;
    border: none;
    text-align: center;
    outline: none;
    overflow: hidden;
    border: 2px solid transparent;
    font-size: 18px;
    transition: all 0.2s;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;

}

.formulario .grid-item .card-input.date select:last-child
{
    width: 80px;
}

.formulario .grid-item .card-input.date select:hover
{
    border-bottom: 2px solid gray;
}


/* Navegador */
.formulario .grid-item.nav 
{
    display: flex;
    justify-content: flex-end;
}

.formulario .grid-item.nav header
{
    align-self: flex-start;
    margin-bottom: 2px;
    padding: 3px;
    position: absolute;
}

.formulario .grid-item.nav header h1
{
    font-size: 25px;
    font-weight: 700;
}

.formulario .grid-item.nav ul
{
    display: flex;
    position: relative;
    bottom: -4px;

}

.formulario .grid-item.nav ul li
{
    width: 100px;
    list-style: none;
    margin: 2px;
}

.formulario .grid-item.nav ul li a
{
    height: 100%;
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
    font-size: 18px;
}

.formulario .grid-item.nav ul li a:hover
{
    border-bottom: 2px solid #00ff15;
    color: #00ff15;
}

.formulario .grid-item.nav ul li a.active
{
    border-bottom: 2px solid #00ff15;
    color: #00ff15;
}

#content-file
{
    width: 100%;
}

#content-file label
{
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all 0.2s;
}

#content-file label:hover
{
    box-shadow: none;
    background-color: #fff;
    border: 1px solid #00ff15;
    color: #00ff15;
}

#content-file label svg
{
    margin-right: 5px;
    transition: all 0.2s;
    min-width: 25px;
    min-height: 25px;
}

#content-file label:hover svg
{
    fill: #00ff15 !important;
}

#file
{
    position: relative;
}

.formulario .grid-item #pais
{
    border: 1px solid #11101d;
    font-size: 19px;
    width: 60%;
    border-radius: 10px;
    margin-top: 10px;
    height: 50px;
    min-height: 50px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #fff !important;
    appearance: none;
    text-align: center;
}

.formulario .grid-item #pais:hover
{
    border: 1px solid #00ff15;
    box-shadow: 1px 1px 10px 0 #00ff15;
}

.formulario .grid-item #pais:focus
{
    border: 1px solid #00ff15;
    box-shadow: 1px 1px 10px 0 #00ff15;
}

@media screen and (max-width: 1024px){
    .formulario .grid-item.nav header{
        display: none;
    }
}