<div class="grid-item flex justify-center items-center lg:col-start-2 lg:col-span-2 lg:row-start-6">
    <input type="submit" name="" id="Guardar" value="Guardar" class=" 
                                                                    text-white
                                                                    m-2
                                                                    block
                                                                    w-32
                                                                    rounded-md
                                                                     border-gray-300
                                                                    shadow-sm
                                                                     focus:border-indigo-300 
                                                                    focus:ring 
                                                                     focus:ring-indigo-200 
                                                                    focus:ring-opacity-50
                                                                    p-2
                                                                    cursor-pointer
                                                                    bg-green-400
                                                                    lg:hover:bg-green-300
                                                                    lg:transition
                                                                    lg:duration-200
                                                                    ">
    <input type="reset" name="" id="" value="Cancelar" class="
                                                             m-2
                                                             block
                                                             w-32
                                                             rounded-md
                                                             border-gray-300
                                                             text-white
                                                             shadow-sm
                                                             focus:border-indigo-300 
                                                            focus:ring 
                                                             focus:ring-indigo-200 
                                                            focus:ring-opacity-50
                                                            p-2
                                                            cursor-pointer
                                                            bg-red-400
                                                            lg:hover:bg-red-300
                                                            lg:transition
                                                            lg:duration-200
                                                            ">
</div>

<div class="fixed bottom-6 right-8">
    <span class="w-12 h-12 rounded-full cursor-pointer" id="btn-subir">
        <span class="rounded-full"><svg class="align-middle text-center hover:fill-gray-500 transition duration-200" xmlns="http://www.w3.org/2000/svg" height="40" width="40"><path d="M14.15 30.75 12 28.6l12-12 12 11.95-2.15 2.15L24 20.85Z"/></svg></span>
    </span>
</div>
