<div class="grid-item">
    <div class="card-input text-area">
        <div class="estado"></div>
        <label for="">
            <span>Descripcion:</span>
            <textarea name="descripcion" id="descripcion" cols="" rows="" required></textarea>
        </label>
    </div>
</div>