<div class="grid-item w-full lg:col-span-2">

    <div class="card-input flex w-full justify-end" id="content-file">
        <label for="file" class="
                                rounded-3xl 
                                flex 
                                justify-center 
                                items-center 
                                border 
                                border-solid 
                                border-gray-300
                                p-2
                                active:bg-stone-300 
                                transition 
                                duration-200 
                                lg:text-xl
                                cursor-pointer
                                lg:hover:bg-gray-200
                                text-md
                                text-gray-500
                                ">Seleccionar Pelicula<svg class="fill-gray-500" xmlns="http://www.w3.org/2000/svg" height="40" width="40"><path d="M6.667 32.5q-1 0-1.75-.75T4.167 30V10.75q0-1 .791-1.812.792-.813 1.834-.813H17.75L20 10.417h13.208q.917 0 1.625.625.709.625.875 1.5H19.125l-2.292-2.292H6.792q-.25 0-.396.146-.146.146-.146.354v19.125q0 .208.083.313.084.104.25.187l4.125-14.917H38.75l-4.208 15.209q-.25.875-.938 1.354-.687.479-1.604.479Zm2.125-2.083h23.625l3.5-12.875H12.25Zm0 0 3.458-12.875-3.458 12.875ZM6.25 12.542V10.25v2.292Z"/></svg></label>  
        <input type="file" name="" id="file" hidden >
    </div>

    <div class="card-input flex flex-col w-full mb-2">
        <div class="estado"></div>
        <label for="" class="text-2xl text-gray-500">Nombre:</label>
        <input type="text" placeholder="Nombre de la Pelicula" name="nombre" id="nombre" class="nombre 
                                                            placeholder:text-sm
                                                            placeholder:text-gray-300
                                                            mt-1
                                                            mb-2
                                                            block
                                                            w-full
                                                            rounded-md
                                                            border-gray-300
                                                            shadow-sm
                                                            focus:border-indigo-300 
                                                            focus:ring 
                                                            focus:ring-indigo-200 
                                                            focus:ring-opacity-50
                                                            "required>
    </div>

    <div class="card-input flex flex-col w-full">
        <div class="estado"></div>
        <label for="" class="text-2xl text-gray-500">Ubicación:</label>
        <input type="url" placeholder="Direccion de la pelicula" name="ubicacion" id="path" class="path
                                                            placeholder:text-sm
                                                            placeholder:text-gray-300
                                                            mt-1
                                                            mb-2
                                                            block
                                                            w-full
                                                            rounded-md
                                                            border-gray-300
                                                            shadow-sm
                                                            focus:border-indigo-300 
                                                            focus:ring 
                                                            focus:ring-indigo-200 
                                                            focus:ring-opacity-50
                                                            "required>
    </div>
</div>
