
<div class="grid-item nav fixed right-3 p-4 bottom-16 lg:top-1/3 lg:bottom-1/3 flex flex-col h-max lg:col-start-4 lg:col-end-4 lg:row-span-full lg:static lg:w-max lg:justify-self-end" id="container">

    <div id="container-categorias" class="hidden lg:fixed lg:right-10 lg:flex lg:flex-col lg:top-1/3 transition-transform duration-300 mb-3 p-1 rounded-xl">
        <h1 class="text-2xl font-semibold text-gray-800 border-b border-gray-400 border-solid lg:w-max">Categorias:</h1>
        <ul class="p-2 lg:w-full" id="lista-categorias">
            <li class=""><a href="" class=" p-1 border-l-2 border-solid border-sky-400 text-xl transition duration-200 text-gray-600">Pelicula</a></li>
            <li class=""><a href="/api/admin/serie" class=" p-1 border-l-2 hover:border-solid hover:border-sky-400 text-xl transition duration-200 text-gray-600">Serie</a></li>
            <li class=""><a href="" class=" p-1 border-l-2 hover:border-solid hover:border-sky-400 text-xl transition duration-200 text-gray-600">Novela</a></li>
        </ul>
    </div>

    <span class="
                self-end
                w-12
                h-12
                rounded-full
                p-1
                flex
                justify-center
                items-center
                select-none
                lg:hidden
                cursor-pointer
                active:bg-gray-300
                ">
                 <svg class="transition-transform duration-600 rounded-full" xmlns="http://www.w3.org/2000/svg" height="40" width="40"><path d="M12.208 28.208 10.75 26.75l5.667-5.708H3.75v-2.084h12.667L10.75 13.25l1.458-1.458L20.417 20Zm10.292-.5v-2.083h13.75v2.083Zm0-13.333v-2.083h13.75v2.083Zm5 6.667v-2.084h8.75v2.084Z"/></svg>
    </span>

</div>
