<div class="grid-item nav">
    <header>
        <h1>Categorias:</h1>
    </header>
    <ul>
        <li><a href="#" class="active">Pelicula</a></li>
        <li><a href="/api/admin/serie">Serie</a></li>
        <li><a href="">Novela</a></li>
    </ul>
</div>