<div class="grid-item space-y-4 lg:col-start-1 lg:col-span-2 lg:row-start-4">
    <div class="card-input">
        <div class="estado"></div>
        <label for="" class="text-2xl text-gray-500">
            <span>Géneros:</span>
            <input type="text" placeholder="Generos" name="generos" id="generos" class="bandera
                                                                placeholder:text-sm
                                                                placeholder:text-gray-300
                                                                mt-1
                                                                mb-2
                                                                block
                                                                w-full
                                                                rounded-md
                                                                border-gray-300
                                                                shadow-sm
                                                                focus:border-indigo-300 
                                                                focus:ring 
                                                                focus:ring-indigo-200 
                                                                focus:ring-opacity-50"
                                                                 required>
        </label>
    </div>

    <div class="card-input ">
        <div class="estado"></div>
        <label for="" class="text-2xl text-gray-500">
            <span>Actores:</span>
            <input type="text" placeholder="Actores(Separados por comas)" name="actores" id="actores" class="actores
                                                                placeholder:text-sm
                                                                placeholder:text-gray-300
                                                                mt-1
                                                                mb-2
                                                                block
                                                                w-full
                                                                rounded-md
                                                                border-gray-300
                                                                shadow-sm
                                                                focus:border-indigo-300 
                                                                focus:ring 
                                                                focus:ring-indigo-200 
                                                                focus:ring-opacity-50"
                                                                required>
        </label>
    </div>

    <div class="card-input-subtitulos">
        <h2 class="text-2xl text-gray-500">Audio:</h2>
        <div class="card-input-subtitulos container flex space-x-2 flex-wrap lg:p-2">
            <label for="si" class="text-base text-gray-400 lg:p-2 lg:cursor-pointer lg:hover:text-gray-600 lg:transition lg:duration-200"><input class="mr-2" type="checkbox" id="si" name="audio" value="subtitulada">Subtitulada</label>
            <label for="no" class="text-base text-gray-400 lg:p-2 lg:cursor-pointer lg:hover:text-gray-600 lg:transition lg:duration-200"><input class="mr-2" type="checkbox" name="audio" id="no" value="español">Español</label>
            <label for="ng" class="text-base text-gray-400 lg:p-2 lg:cursor-pointer lg:hover:text-gray-600 lg:transition lg:duration-200"><input class="mr-2" type="checkbox" name="audio" id="ng" value="ninguna">Ninguna</label>
        </div>
    </div>
</div>