<div class="grid-item">

    <div class="card-input hover">
        <div class="estado"></div>
        <label for="">
            <span>Formato</span>
            <input type="text" name="formato" id="formato" class="formato" required>
        </label>
    </div>
    <div class="card-input hover">
        <div class="estado"></div>
        <label for="">
            <span>Tama単o</span>
            <input type="text" name="size" id="tama単o" class="tama単o" required>
        </label>
    </div>
    <div class="card-input date">
        <label for="date">
            Fecha de Estreno:  
            <select name="fechaDeEstreno" id=""><option value="none">Dia</option></select>
            /
            <select name="fechaDeEstreno" id=""><option value="none">Mes</option></select>
            /
            <select name="fechaDeEstreno" id=""><option value="none">A単o</option></select>
        </label>
    </div>
    
</div>