<div class="grid-item hover">
    <div class="card-input">
        <div class="estado"></div>
        <label for="">
            <span>Géneros:</span>
            <input type="text" name="generos" id="generos" class="bandera" required>
        </label>
    </div>
    <div class="card-input hover">
        <div class="estado"></div>
        <label for="">
            <span>Actores: (Separados por comas)</span>
            <input type="text" name="actores" id="actores" class="actores" required>
        </label>
    </div>
    <div class="card-input-subtitulos">
        <h2>Audio:</h2>
        <div class="card-input-subtitulos container">
            <div>
                <input type="checkbox" id="si" name="audio" value="subtitulada">
                <label for="si">Subtitulada</label>
            </div>
            <div>
                <input type="checkbox" name="audio" id="no" value="español">
                <label for="no">Español</label>
            </div>
            <div>
                <input type="checkbox" name="audio" id="ng" value="nunguna">
                <label for="ng">Ninguna</label>
            </div>
        </div>
    </div>
</div>