<div class="grid-item lg:col-start-3 lg:row-start-2 lg:row-end-3">

    <div class="form-serie card-input hover p-4 mt-3">
        <div class="num-temporadas">
            <div class="estado"></div>                                
            <label for="#temp" class="text-2xl text-gray-500 flex justify-between items-center">
                <span>Temporadas:</span>
                <input type="number" id="#temp" min="0" max="20" required name="temporadas" class="
                                                                                                placeholder:text-sm
                                                                                                placeholder:text-gray-300
                                                                                                mt-1
                                                                                                mb-2
                                                                                                block
                                                                                                
                                                                                                rounded-md
                                                                                                border-gray-300
                                                                                                shadow-sm
                                                                                                focus:border-indigo-300 
                                                                                                focus:ring 
                                                                                                focus:ring-indigo-200 
                                                                                                focus:ring-opacity-50">
            </label>
        </div>
        <div class="container-temp flex justify-end flex-col"></div>
        <div class="container-total-caps"></div>
    </div>

</div>


