<div id="modal" class="
                    translate-x-full
                    opacity-0
                    fixed 
                    right-0 
                    w-full 
                    z-30 
                    shadow-lg
                    shadow-gray-500
                    rounded-lg 
                    h-max 
                    p-3
                    lg:w-max
                    lg:m-1
                    transition
                    duration-300
                    lg:max-w-sm
                    max-h-screen
                    ">
    
    <span class="cursor-pointer"><svg class="icon relative top-0 left-0" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" style="fill: rgb(99, 99, 99);"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg></span>
    <div class="modal-info">
        <h1 class="text-center text-3xl font-extrabold border-b border-solid border-gray-600 px-8">Guardado</h1>
        <ul class="errores p-3 list-disc"></ul>
    </div>
    
</div>
