@tailwind base;
@tailwind components;


#card:hover img{
    transform: scale(1.03);
}

/* #details {
    background: linear-gradient(
     8deg, 
     hsl(240 17% 14% / 70%) 14%, 
     hsl(240 17% 14% / 1%) 44%

     );
 } */

@media screen and (min-width: 1024px)
{
    #header{
        width: calc(100% - 4rem);
    }
}

@tailwind utilities;