@tailwind base;
@tailwind components;

nav div ul li a:hover .icon svg
{
    @apply fill-black;
}

nav div ul li a:hover span:last-child
{
    @apply text-black;
}

nav div ul li a.active .icon svg
{
    @apply fill-black;
}

nav div ul li a.active span:last-child
{
    @apply text-black;
}

nav div ul a:hover + .tooltip
{
    @apply opacity-100;
    @apply translate-y-6;
}

#card:hover img{
    transform: scale(1.03);
}


@media screen and (min-width: 1024px)
{
    main
    {
        width: calc(100% - 4rem) !important;
    }


    #header{
        width: calc(100% - 4rem);
    }
}

@tailwind utilities;